.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}
.lol
.profilname{
  text-align: center;
}

.box {
  background-color:  rgb(33, 150, 243);
  border-style: outset;
}

.text-color{
  color :white;
  text-align: center;
  margin:250px;
  padding:10px;

}
/* Attribue cela au bouton */
.ui facebook button{
  border-style: outset;
}

.text-deco{
  padding : 20px;
}
