{{page-title "Add"}}
<br />
<div class="ui form">
  <div class="inline fields">
    <div class="three wide field">
      <label>Name</label>
      <input type="text" placeholder="Name">
    </div>
    <div class="ten wide field">
      <label>Description</label>
      <input type="text" placeholder="Description">
    </div>
  </div>
  <LinkTo class="ui button green" @route="section.add">Valider</LinkTo>
</div>
{{outlet}}