{{page-title "Inscription"}}
<div class="ui form">
  <div class="three fields">
    <div class="field">
      <label>Votre Nom</label>
      <input type="text" placeholder="Votre nom">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>E-Mail</label>
      <input type="text" placeholder="E-mail">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Mot De Passe</label>
      <input type="text" placeholder="Mot de passe">
    </div>
  </div>
<div>
  <button class="ui basic button">
    <i class="icon user"></i>
    Creer votre compte StoreHFL
  </button>
</div>
</div>

{{outlet}}