{{page-title "Panier"}}

    <div class="profilname">
      <h2><i class="shopping basket icon"></i> Panier </h2>
    </div>
/* Envoie de catalogue a panier, lien restant a faire + ensuite so'ccuper interface admin*/
Faire js/php + html
<table class="table">
  <thead>
  <tr><th>Article</th><th>Prix</th><th>Quantité</th></tr>
  </thead>
  <tbody id="cart-tablebody"></tbody>
</table>

<p>Sous total : <span class="total"></span>€</p>

<button id="confirm-command">Passer la commande</button>
<br>
<br>
<br>

<!-- https://speckyboy.com/free-shopping-cart-css-javascript/ Pour des idées  https://codepen.io/adrgautier/pen/radyqv-->

{{outlet}}