{{page-title "Panier"}}

<!-- Envoie de catalogue a panier, lien restant a faire + ensuite so'ccuper interface admin*/
Faire js/php + html

Ici envoyer tout dans une table dans la BDD

<br>
<br>
<br>

 https://speckyboy.com/free-shopping-cart-css-javascript/ Pour des idées  https://codepen.io/adrgautier/pen/radyqv-->
<style>
  article { text-align: center; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
<br><br><br>
<article>
  <h1 class="hotjar icon">Nous reviendrons bientôt!</h1>
  <div >
    <p>Désolé pour le désagrément, mais nous effectuons actuellement des travaux de maintenance. Si vous en avez besoin, vous pouvez toujours nous contacter, sinon nous serons de retour en ligne sous peu!

      - L'équipe</p>
    <p>&mdash; Team StoreHFL</p>
  </div>
</article>



{{outlet}}
