{{page-title "Section"}}
<h1>Section</h1><LinkTo class="ui button" @route="section.add">Ajouter section</LinkTo>
<table class="ui celled table" width="80%">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each @model.section as |section|}}
    <tr>
        <td>{{section.name}}</td>
        <td> {{section.description}}</td>
      <td><LinkTo @route="section.update"  class="ui mini icon button">
        <i class="ui edit icon"></i>
      </LinkTo></td>
      <td><i class="window close icon red"></i></td>
    </tr>
  {{/each}}
  </tbody>
</table>

<br />
{{outlet}}